<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nicole's File Metadata</title>
  <link rel="shortcut icon" href="../public/folder.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1>Nicole's File Upload API</h1>
  </header>
  <main>
    <h2>Usage:</h2>
    <p>
      Please upload a file ...
    </p>
    <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
      <input type="file" name="upfile">
      <button type="submit" value="Upload">Upload</button>
    </form>
  </main>
  <footer>
    <p>
      👩‍💻 Built by
      <a href="https://linktr.ee/nicolelancaster">Nicole Lancaster</a>
    </p>
  </footer>
</body>

</html>